{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="ad-details">
            <div class="ad-info">
                <h1 class="ad-detail">{{ ads_detail.headline }}</h1>
                <div class="ads">
                    <p class="category"><strong>Категория: </strong>{{ ads_detail.ad_category }}</p>
                    <p class="ad-text">{{ ads_detail.content|safe }}</p>
                    <p class="author">Автор: {{ ads_detail.ad_author.get_full_name }}</p>
                </div>
            </div>
            <div class="ad-actions">
                {% if request.user.is_authenticated %}
                    {% if ads_detail.ad_author == request.user %}
                        <button onclick="window.location.href='{% url 'fan_board:ads_update' ads_detail.headline %}'">Редактировать</button>
                        <form method="post" action="{% url 'fan_board:ads_delete' ads_detail.headline %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Удалить</button>
                        </form>
                    {% endif %}
                {% endif %}
                <button onclick="window.location.href='{% url 'fan_board:ads_list' %}'">Назад</button>
            </div>
        </div>
        <hr>
        <div class="response">
            <strong>Ответы</strong>
            {% if ad_response %}
                {% for response in ad_response %}
                    <p>{{ response.text }}</p>
                    <p>Author: {{ response.user_answer.first_name }}</p>
                {% endfor %}
            {% else %}
                <h3>Нет ответов</h3>
            {% endif %}
        </div>
        <hr>
    {% if request.user.is_authenticated %}
        {% if not ads_detail.ad_author == request.user %}
        <div class="comment-form">
            <h2>Добавить новый комментарий</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p><label for="{{ field.id_for_label }}">{{ field.label }}: </label>{{ field }}</p>
                    <div class="form-error">{{ field.errors }}</div>
                {% endfor %}
                <input type="hidden" name="headline" value="{{ ad.headline }}">
                <button type="submit">Отправить отклик</button>
            </form>
        </div>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
