<!-- private_page.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Приватная страница пользователя</h2>
  <ul>
    {% for response in responses %}
      <li>
        {{ response.text }}
        {% if response.accepted_answer %}
          (Принят)
        {% endif %}
        <form method="post" action="{% url 'fan_board:private_page' %}">
          {% csrf_token %}
          <input type="hidden" name="response_id" value="{{ response.id }}">
          <button type="submit" name="action" value="delete">Удалить</button>
          {% if not response.accepted_answer and response.ad.ad_author == request.user %}
            <button type="submit" name="action" value="accept">Принять отклик</button>
          {% endif %}
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
{#{% block content %}#}
{#  <h2>Приватная страница пользователя</h2>#}
{#  <ul>#}
{#    {% for response in responses %}#}
{#      <li>#}
{#        {{ response.text }}#}
{#        {% if response.accepted_answer %}#}
{#          (Принят)#}
{#        {% endif %}#}
{#        <form method="post" action="{% url 'fan_board:private_page' %}">#}
{#          {% csrf_token %}#}
{#          <input type="hidden" name="response_id" value="{{ response.id }}">#}
{#          <button type="submit" name="action" value="delete">Удалить</button>#}
{#          {% if not response.accepted_answer and response.ad.ad_author == request.user %}#}
{#            {% if response.ad.ad_author == request.user %}#}
{#                <form method="post" action="{% url 'fan_board:private_page' %}">#}
{#                    {% csrf_token %}#}
{#                    <input type="hidden" name="response_id" value="{{ response.id }}">#}
{#                    <button type="submit" name="action" value="accept">Принять отклик</button>#}
{#                </form>#}
{#            {% endif %}#}
{#          {% endif %}#}
{#        </form>#}
{#      </li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#{% endblock content %}#}

