{% extends "base.html" %}

{% block content %}
    <style>
    .custom-table {
        width: 50%;
        margin: 0 auto;
        border-collapse: collapse;
    }
        
    .custom-table td, .custom-table tr {
        border: 2px solid grey;
        text-align: center;
    }
    </style>
<div>
    <h2 style="text-align: center;">Кабинет пользователя</h2>
    <div style="text-align: center; margin-top: 15px;">

        <table class="custom-table">
            <tr>
                <td class="td_profile"><strong>Логин</strong></td>
                <td class="td_profile h6">{{ user.username }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Имя</strong></td>
                <td class="td_profile h6">{{ user.first_name }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Фамилия</strong></td>
                <td class="td_profile h6">{{ user.last_name }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Почта</strong></td>
                <td class="td_profile h6">{{ user.email }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>ID номер</strong></td>
                <td class="td_profile h6">{{ user.id }}</td>
            </tr>
        </table>
        <br>
        <a class="btn btn-success" href="{% url 'users:edit_profile' user.pk  %}">Редактировать профиль</a>

        <hr>
        <a href="{% url 'fan_board:private_page' %}">Перейти к приватной странице</a>
    </div>
</div>

{% endblock %}
