{% extends "base.html" %}

{% block content %}
    <style>
    .custom-table {
        width: 50%;
        margin: 0 auto;
        border-collapse: collapse;
    }
        
    .custom-table td, .custom-table tr {
        border: 2px solid grey;
        text-align: center;
    }
    </style>
<div>
    <h2 style="text-align: center;">Кабинет пользователя</h2>
    <div style="text-align: center; margin-top: 15px;">

        <table class="custom-table">
            <tr>
                <td class="td_profile"><strong>Логин</strong></td>
                <td class="td_profile h6">{{ user.username }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Имя</strong></td>
                <td class="td_profile h6">{{ user.first_name }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Фамилия</strong></td>
                <td class="td_profile h6">{{ user.last_name }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Почта</strong></td>
                <td class="td_profile h6">{{ user.email }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>ID номер</strong></td>
                <td class="td_profile h6">{{ user.id }}</td>
            </tr>
        </table>
        <br>
        <a class="btn btn-success" href="{% url 'users:edit_profile' user.pk  %}">Редактировать профиль</a>

        <hr>

        {% if your_posts %}
        <h4 style="text-align: center; margin-top: 50px;">Ваши публикации:</h4>
        <table width="100%" cellspacing="0" cellpadding="4">
            <tr>
                <td>
                    <p style="text-align: center;"><strong>Заголовок</strong></p>
                </td>
                <td>
                    <p style="text-align: center;"><strong>Дата публикации</strong></p>
                </td>
                <td>
                    <p style="text-align: center;"><strong>Новые отклики</strong></p>
                </td>
                <td>
                    <p style="text-align: center;"><strong>Принятые отклики</strong></p>
                </td>
            </tr>
            {% for post in your_posts %}
            <tr>
                <td style="text-align: center;">
                    <a href="{% url 'post_detail' post.id %}">{{ post.headline }}</a>
                </td>
                <td style="text-align: center;">
                    <p>{{ post.date_create }}</p>
                </td>
                <td style="text-align: center;">
                    {% for responser in post.get_responsers %}
                    <div class="dropdown-item">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">{{ responser }}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="accept_response"
                                        value="{{ responser }} {{ post.id }}"
                                        class="dropdown-item">Принять</button>
                                </form>
                            </li>
                            <li>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="deny_response"
                                        value="{{ responser }} {{ post.id }}"
                                        class="dropdown-item">Отклонить</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </td>
                <td style="text-align: center;">
                    {% for accepted_answer in post.get_accepted_responses %}
                    <p>{{ accepted_answer }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}
