{% extends "base.html" %}

{% block content %}
    <style>
    .custom-table {
        width: 50%;
        margin: 0 auto;
        border-collapse: collapse;
    }
        
    .custom-table td, .custom-table tr {
        border: 2px solid grey;
        text-align: center;
    }
    
    .btn-custom {
        background-color: #28a745; /* Зеленый цвет */
        color: #fff; /* Белый цвет текста */
        border: none; /* Убираем границу кнопки */
        padding: 10px 20px; /* Подбираем отступы */
        border-radius: 5px; /* Скругляем углы кнопки */
        cursor: pointer; /* Делаем курсор указателем при наведении на кнопку */
    }
    
    .btn-custom:hover {
        background-color: #218838; /* Зеленый цвет при наведении */
    }
    </style>
<div>
    <h2 style="text-align: center;">Кабинет пользователя</h2>
    <div style="text-align: center; margin-top: 15px;">

        <table class="custom-table">
            <tr>
                <td class="td_profile"><strong>Логин</strong></td>
                <td class="td_profile h6">{{ user.username }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Имя</strong></td>
                <td class="td_profile h6">{{ user.first_name }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Фамилия</strong></td>
                <td class="td_profile h6">{{ user.last_name }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>Почта</strong></td>
                <td class="td_profile h6">{{ user.email }}</td>
            </tr>
            <tr>
                <td class="td_profile"><strong>ID номер</strong></td>
                <td class="td_profile h6">{{ user.id }}</td>
            </tr>
        </table>
        <br>
{#        <a class="btn btn-success" href="{% url 'users:edit_profile' user.pk  %}">Редактировать профиль</a>#}
        <button class="btn btn-custom" onclick="window.location.href='{% url 'users:edit_profile' user.pk  %}'">Редактировать профиль</button>
        <hr>
    </div>
</div>

{% endblock %}
